* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100px;
}

body {
    font-size: 0.12rem;
    background-color: #e7cd3c;
    text-align: center;
    padding-bottom: 100px;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

object{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.browsehappy {
    position: fixed;
    width: 100%;
    background-color: #FF0606;
    height: 30px;
    line-height: 30px;
}

.tree_content{
    width: 10rem;
    margin: 0 auto;
}

.tree_head{
    text-align: right;
    padding: 20px 0 215px 0;
}

.tree_head a{
    display: inline-block;
    width: 98px;
    height: 0.4rem;
    line-height: 0.4rem;
    border: 1px solid #73661e;
    border-radius: 10px;
    text-align: center;
    font-size: 0.18rem;
    color: #2e2b1d;
    text-decoration: none;
}

.tree_flexContainer {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 4.45rem;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

.tree_flexItem {
    width: 50%;
    height: 4.45rem;
}

.tree_contentBox{
    border-radius: 10px;
    background-color: #f8f8f8;
    overflow: hidden;
}

.tree_projectInfoBox{
    position: relative;
    height: 80px;
    margin: 57px 20px 0 20px;
    border: 2px solid #bdbdbd;
    text-align: left;
    line-height: 80px;
}

.tree_projectInfoBox h3{
    position: absolute;
    font-size: 0.4rem;
    top: -25px;
    left: 0.1rem;
    padding: 0 0.1rem;
    line-height: 0.4rem;
    background-color: #f8f8f8;
    font-weight: normal;
}

.tree_projectInfoBox h4{
    font-size: 0.24rem;
    font-weight: normal;
    padding: 0 0.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tree_projectInfo{
    font-weight: normal;
    padding: 0.15rem 0.3rem;
    line-height: 0.3rem;
    font-size: 0.2rem;
    text-align: left;
}


@media screen and (max-width: 1024px) {
    .tree_content{
        width: 100%;
    }
    .tree_flexContainer{
        display: block;
        height: auto;
    }
    .tree_flexItem{
        width: 100%;
    }

    .tree_head{
        padding: 60px 0 60px 0;
    }
}







